*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

}


/* Common Class */
.container{
    width: 85%;
    max-width:1360px ;
    margin: 0 auto;
}
.btn{
    background-color: #469165;
    color:#FFFFFF ;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;

}

.header-container{
    display: flex;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
   
}
.header-container .header-image img{
    /* margin: 16px 0 16px 0 ; */
}
nav ul {
    display: flex;
    gap: 32px;
}
nav li {
    list-style: none;
    
}
nav a{
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-weight: 500px;
}
.structure-container{
    display: flex;
    flex-direction: column;
  text-align: center;

}
.structure{
    background: url(image/hero-bg.png);
    max-width: 1600px;
    height: 674px;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.structure-btn-access button{
  color: #469165;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 8px 12px;
  margin-bottom: 16px;
}
.h1-white {
color: #FFFFFF;
font-size: 72px;
font-weight: bold;
line-height: 84px;
}
.h2-white{
    color: #30B868;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
.structure-text p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
      margin-bottom: 32px;
}
.structure-btn-2{
    padding: 12px 16px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.structure-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}