*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;

}


/* Common Class */
.container{
    width: 85%;
    max-width:1360px ;
    margin: 0 auto;
}
.btn{
    background-color: #469165;
    color:#FFFFFF ;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;

}
.note-card img{
    background-color:#F95555 ;
    border-radius: 20px;
    padding: 10px 11px;
    border-radius: 30px;
}
.note-card h2{
    font-size: 24px;
    font-weight: 600;
    color:#001931 ;
}
.note-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 24px 24px;
    gap:16px ;
    background-color: #FFFFFF;
    box-shadow: 0 0 8px 0 #00000014 ;
}
.note-card p{
    font-size: 16px;
    line-height: 20px;
    color:#627382;
 
}


/* main css */
.header-container{
    display: flex;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 16px 0;
   
}

nav ul {
    display: flex;
    gap: 32px;
}
nav li {
    list-style: none;
    
}
nav a{
      text-decoration: none;
      color: #000000;
      font-size: 16px;
      font-weight: 500px;
}
.structure-container{
    display: flex;
    flex-direction: column;
  text-align: center;

}
.structure{
    background: url(image/hero-bg.png);
    max-width: 1600px;
    height: 674px;
      display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.structure-btn-access button{
  color: #469165;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 8px 12px;
  margin-bottom: 16px;
}
.h1-white {
color: #FFFFFF;
font-size: 72px;
font-weight: bold;
line-height: 84px;
}
.h2-white{
    color: #30B868;
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin-bottom: 16px;
}
.structure-text p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
      margin-bottom: 32px;
}
.structure-btn-2{
    padding: 12px 16px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
}
.structure-btn{
    display: flex;
    gap: 16px;
    justify-content: center;
}

.notes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
     padding-top: 70px;
}
.notes-text h1{
    font-size:48px ;
    font-weight: bold;
    color: #001931;
   margin-bottom: 16px;
   text-transform: capitalize;
}
.notes-text p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 44px;
}

.note-card-box{
    display: flex;
    gap: 24px;
}
.solution-container{
    display: flex;
    margin-top: 120px;
    gap:60px;
    align-items: center;
    margin-bottom: 120px;
}
.solution-container .solution-text .solution-p{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.solution-container .solution-text h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.solution-container .solution-text .p-details{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}
.solution-container .solution-text li{
     list-style: none;
    margin-bottom:16px ;
    color: #001931;
    display: flex ;
    gap: 6px;

}

.ready-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 40px;
    text-align: center;
    margin-bottom: 120px;
    background-color: #F7F6F2;
}
.ready-container h1{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}
.ready-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.ready-btn{
     background-color: #469165;
    color:#FFFFFF ;
    border-radius: 4px;
    padding: 12px 16px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}




footer{
    background-color: #001931;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     
}

.footer-container{
    display: flex;
    justify-content: space-between;
     border-bottom: 1px solid rgba(255, 255, 255, 0.368);
      margin: 120px 120px 0 120px;
    padding-bottom: 80px;
}

.footer-container p{
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
   

}
.footer-copyright{
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
  padding: 30px 0;
}
.social-link{
    margin-right: 36px;
}

.footer-icon-box{
    display: flex;
  gap: 16px;
}

.footer-icon{
  background-color: #FAFAFA;
  border-radius: 33px;
  padding: 2px 2px 2px 3px;;
}